div.main-search
  div
    h2 想知道吃了什麼藥...
    input(type='text', placeholder='輸入藥物關鍵字', ng-model='searchText')
    button.search-btn(ng-click='onSearchText(searchText)') 搜尋
  div.clear-both

div.sub-search
  div.container
    h2 我的藥長這樣...
    div.med-feature-box
      div.group(ng-repeat='medFeatures in medFeatureGroups')
        div.med-box(ng-repeat='medFeature in medFeatures')
          label(for='')
            input(type='checkbox')
            {{medFeature.feature}}
          img(ng-src='{{medFeature.img}}', alt='')
      div.group
        input(type='text', placeholder="找不到? 輸入其他特徵", ng-model='featureText')
        button.search-btn(ng-click='onFeatureText(featureText)') 搜尋
          
div.footer
  div.container
