div.login-block
   h1 開放藥點胖胖專屬登入區
   div.login-form
     form
       p
         label(for="textfield")
         input(type="text" name="textfield" class="keyin-txt")
       p
         label(for="textfield")
         input(type="text" name="textfield2" id="textfield2" class="keyin-txt")
       p.btn-block
         input(type="button" name="button")

