div.search
  ul
    li(ng-repeat='eachQueryData in queryData')
      p 中文名字: {{eachQueryData.name}}
      p 英文名字: {{eachQueryData.en_name}}
      p 許可證: {{eachQueryData.permit}}
      p 適應症: {{eachQueryData.indication}}
